<tr>
  <td><%= question.question_string%></td>
  <td><%= question.question_type%></td>
  <td><%= question.difficulty_level_id%></td>
  <td><%= question.average_time%></td>

  <td>
    <%= link_to 'Show', question, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-primary' %>
    <%= link_to 'Remove', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </td>
</tr>
