<p id="notice"><%= notice %></p>

<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Question type:</strong>
    <%= Question.question_types.key(@question.question_type) %>
  </p>
</div>
<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Question string:</strong>
    <%= @question.question_string %>
  </p>
</div>
<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Average time:</strong>
    <%= @question.average_time %>
  </p>
</div>
<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Difficulty level:</strong>
    <%= @question.difficulty_level_id %>
  </p>
</div>
<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Assessment:</strong>
    <%= Assessment.find(@question.assessment_id).title %>
  </p>
</div>

<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Target concept:</strong>
    <%= @question.target_concept %>
  </p>
</div>
<div class = 'col-md-6 col-xs-6'>
  <p>
    <strong>Answer:</strong>
    <%= @question.answer %>
  </p>
</div>
<div class='pull-right form-horizontal'>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back',  edit_concept_path(@question.target_concept) %>
</div>

<div class="x_panel">
    <div class="x_title">
        <div class="col-md-8">
         <h2>Answer Choices</h2>
        </div>
        <div class="col-md-4">
           <%= link_to 'Add Choice', new_choice_path(question_id: @question.id),:class=>'btn btn-primary' %>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Letter</th>
                    <th>Content</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%= render @question.choices, choices:@question.choices %>
            </tbody>
        </table>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <div class="col-md-8">
         <h2>Answer</h2>
        </div>
        <div class="col-md-4">
           <%= link_to 'Add Answer', new_question_answer_path(question_id: @question.id),:class=>'btn btn-primary' %>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Letter</th>
                    <th>Reason</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%= render @question.question_answers, question_answers:@question.question_answers %>
            </tbody>
        </table>
    </div>
</div>
