<div class="row">
    <div class="x_panel tile">
        <div class="x_title">
            <h2>Course Detail</h2>
            <div class="clearfix"></div>
        </div>
        <p id="notice"><%= notice %></p>

        <p>
            <strong>Completion level:</strong>
        <div class='row'>
            <div class='col-xs-8'>
                <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" 
                         aria-valuemin="0" aria-valuemax="100" style="width: <%= @learned_course.completion_level*100 %>%;">

                    </div>
                </div>
            </div> 
            <div class-='col-xs-4'>
                <span> <%= @learned_course.completion_level*100 %> % </span>
            </div>

        </div> 
        </p>

        <p>
            <strong>Current concept:</strong>
            <%= Concept.find(@learned_course.current_concept).title %>
        </p>

        <p>
            <strong>Current grade:</strong>
            <%= @learned_course.current_grade %>
        </p>

        <p>
            <strong>Starting level:</strong>
            <%= @learned_course.starting_level %>
        </p>

        <p>
            <strong>Course:</strong>
            <%= Course.find(@learned_course.course_id).title %>
        </p>

        <p>
            <strong>Student name:</strong>
            <%= Student.find(@learned_course.student_user_id).name %>
        </p>
    </div>
</div>

<div class="row">
    <div class="x_panel tile">
        <div class="x_title">
            <h2>Learned Concepts</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <% @learned_course.learned_concepts.each do |lc| %>
                      <tr>
                          <td><%= Concept.find(lc.concept_id).title %></td>
                          <td><%= lc.completed %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel tile">
        <div class="x_title">
            <h2>Next Available Topics</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>  
                    <% @available_concepts.each do |ac| %>
                      <tr>
                          <td><%= ac.title %></td>  
                          <td><%= link_to 'Start Learning',"/learned_courses/#{@learned_course.id}/concepts/#{ac.id}/learn" , :Class=>'btn btn-primary'%></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%= link_to 'Back', learned_courses_path %>
