<div class="row">
    <div class="x_panel tile">
        <div class="x_title">
            <h2> <%= Course.find(@learned_course.course_id).title %></h2>
            <div class="clearfix"></div>
        </div>
        <p id="notice"><%= notice %></p>

        <p>
            <strong>Completion level:</strong>
        <div class='row'>
            <div class='col-xs-8'>
                <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width: <%= @learned_course.completion_level*100 %>%;">

                    </div>
                </div>
            </div>
            <div class-='col-xs-4'>
                <span> <%= @learned_course.completion_level*100 %> % </span>
            </div>

        </div>
        </p>

        <p>
            <strong>Current concept:</strong>
            <%= @learned_course.current_concept ? Concept.find(@learned_course.current_concept).title : 'None' %>
        </p>

        <p>
            <strong>Current grade:</strong>
            <%= @learned_course.current_grade %>
        </p>

        <p>
            <strong>Starting level:</strong>
            <%= @learned_course.starting_level %>
        </p>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 x_panel tile">
        <div class="x_title">
            <h2>Learned Concepts</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <% @learned_course.learned_concepts.each do |lc| %>
                      <tr>
                          <td><%= Concept.find(lc.concept_id).title %></td>
                          <td><%= lc.completed %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 x_panel tile">
        <div class="x_title">
            <h2>Assessments Due</h2>
            <div class="clearfix"></div>
        </div>
        <% @assessments_due = Assessment.where(concept_id: @learned_course.learned_concepts.collect(&:concept_id))%>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th>Assessment Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @assessments_due.each do |ad| %>
                      <tr>
                          <td><%= Concept.find(ad.concept_id).title %></td>
                          <td><%= ad.level %></td>
                          <td><%=link_to 'Take Assessment' , new_assessment_info_path(assessment_id: ad.id, student_user_id: current_user.id), class: 'btn btn-primary'%></td>

                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 x_panel tile">
        <div class="x_title">
            <h2>Assessments Taken</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th>Assessment Level</th>
                        <th>Time taken</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% @learned_course.assessment_infos.each do |ai| %>
                      <tr>
                          <td><%= Concept.find(ai.concept_id).title %></td>
                          <td><%= ai.assessment.level %></td>
                          <td><%= ai.end_time - ai.start_time %></td>
                          <td><%= ai.result %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel tile">
        <div class="x_title">
            <h2>Next Available Topics</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Concept title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @available_concepts.each do |ac| %>
                      <tr>
                          <td><%= ac.title %></td>
                          <td><%= link_to 'Start Learning',"/learned_courses/#{@learned_course.id}/concepts/#{ac.id}/learn" , :Class=>'btn btn-primary'%></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%= link_to 'Back', learned_courses_path %>
