<p id="notice"><%= notice %></p>

<p>
  <strong>Letter:</strong>
  <%= @choice.letter %>
</p>

<p>
  <strong>Content:</strong>
  <%= @choice.content %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
