      <tr>
        <td><%= concept_resource.resource_file_name %></td>
        <td><%= concept_resource.resource_content_type %></td>
        <td><%= concept_resource.presentation_mode %></td>
        <td><%= concept_resource.resource_type %></td>


        <td>
          <%= link_to 'Remove', concept_resource, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
