
<div class="x_panel">
  <div class = "x_title">
    <h2>Set Preferences</h2>
    <div class="clearfix"></div>
  </div>
  <div class = "x_content">
    <%= form_for preference, :html => {:class=>"form-horizontal form-label-left"} do |f| %>
      <% if preference.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(preference.errors.count, "error") %> prohibited this choice from being saved:</h2>

          <ul>
          <% preference.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-12 control-label">What presentation mode best suits you? </label>

        <div class="col-md-9 col-sm-9 col-xs-12">
         <%=f.collection_radio_buttons :presentation_mode, Preference.presentation_modes, :first, :first%>
        </div>

      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-12 control-label">Which approach do you like best (concept first / example first) </label>

        <div class="col-md-9 col-sm-9 col-xs-12">
         <%=f.collection_radio_buttons :resource_type, Preference.resource_types, :first, :first%>
        </div>
      </div>

  </div>
</div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
