<p id="notice"><%= notice %></p>

<p>
  <strong>Presentation mode:</strong>
  <%= @preference.presentation_mode %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @preference.resource_type %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
