<p id="notice"><%= notice %></p>

<h1>Listing Concepts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Level</th>
      <th>Title</th>
      <th>Course</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.level %></td>
        <td><%= concept.title %></td>
        <td><%= concept.course.title %></td>
        <td><%= link_to 'Show', concept %> |
          <%= link_to 'Edit', edit_concept_path(concept) %> |
          <%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concept',  new_course_concept_path %>
