
<%= form_for @learned_concept, url:learned_concepts_path do |f| %>

 <% if @learned_concept.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@learned_concept.errors.count, "error") %> occured:</h2>

        <ul>
            <% @concept.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

<div class="row hidden">
    <%= f.number_field :learned_course_id %>
  
      <%= f.number_field :concept_id %>
      <%= f.number_field :resource_id %>
       <%= f.text_field :start_time %>
       <%= f.text_field :end_time %>
       <%= f.text_field :completed%>
</div>
  <div class="row">
    <% cr = ConceptResource.find(@learned_concept.resource_id) %>
    <% if  cr.resource_content_type == "application/pdf" %>

         <iframe src="/pdfjs/web/viewer.html?file=<%=cr.resource.url%>" style="border: 0" width="70%" height="600" frameborder="0" scrolling="no"></iframe>

    <% elsif cr.resource_content_type == "video/mp4" %>
        <%=  video_tag("#{cr.resource.url}",  size: "700x500",controls: true, autobuffer: true) %>
     <% end %>

  </div>

  <%=  f.submit 'Continue >>', :class=>'btn btn-primary'%>

<%end%>
<%= link_to 'Back' %>

