<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Courses</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Lookups</a>
            </li>
            <li class="active">
                <strong>Courses</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <%= link_to 'New Course', new_course_path, :class => "btn btn-primary"%>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th> 
                        <th>Description</th>
                        <th>End date</th>
                        <th>Passing grade</th>
                        <th>Start date</th>

                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% @courses.each do |course| %>
                      <tr>
                          <td><%= course.title %></td>
                          <td><%= course.description %></td>
                          <td><%= course.end_date %></td>
                          <td><%= course.passing_grade %></td>
                          <td><%= course.start_date %></td>

                          <td>
                              <% if current_user.type=='Student'%>
                                <%= link_to 'Register', "courses/#{course.id}/register", method: :put %> &middot;
                              <% end %>
                              <% if current_user.type=='Teacher'%>
                                <%= link_to 'Edit', edit_course_path(course) %> &middot;
                                <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                              <% end %>
                          </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
</div>
