<!-- page content -->

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Courses Home</h3>

    </div>

    <div class="title_right">
      <div class="col-md-8 col-sm-8 col-xs-12 form-inline pull-right top_search">
        <% if current_user.type == 'Teacher'%>
          <div class="input-group">
            <a href="<%=new_course_path%>" class="btn btn-primary"><i class="fa fa-plus"></i> New Course </a>
          </div>
        <%end%>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>

        </div>


      </div>
    </div>
    <div class="clearfix"></div>
    <% @courses.each do |course| %>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2><%= course.title %></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12" style="border:0px solid #e5e5e5;">
                  <p><%= course.description %></p>

                  <div class="">
                    <h2>Course Dates</h2>
                    <small><%= course.start_date %> - <%= course.end_date %></small>
                  </div>

                  <div class="">
                    <h2>Passing grade</h2>
                    <small><%= course.passing_grade %></small>
                  </div>
                  <br>

                  <div class="">
                    <% if current_user.type=='Student'%>
                        <% if Student.find(current_user.id).learned_courses.find_by(course_id: course.id) %>
                            <a href="<%= learned_course_path(Student.find(current_user.id).learned_courses.find_by(course_id: course.id))%>" class="btn btn-primary">Go to Course</a>

                        <% else %>
                            <%= link_to 'Register', "courses/#{course.id}/register", method: :put, :class => 'btn btn-primary' %>
                        <% end %>
                    <% end %>
                    <% if current_user.type == 'Teacher' %>
                        <%= link_to 'Edit', edit_course_path(course), :class => "btn btn-primary" %>
                        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

                    <% end %>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>

<!-- /page content -->
